.submenu-container{
    /* @apply absolute top-0  left-[70px] bg-white p-4 rounded-xl */
    @apply fixed  bg-white p-3 rounded-xl

}

.sidebar-submenu{
    @apply bg-white h-full
}
.drawer-open {
    @apply w-[calc(100%_-_272px)]
}
.drawer-close {
    @apply  w-[calc(100%_-_71px)]
}
.drawer-open .layer-fixed .sidebar-submenu{
    @apply overflow-hidden w-full max-w-[231px] duration-300 border-r 
 }
 
 .drawer-close .layer-fixed .sidebar-submenu{
     @apply max-w-[0] duration-300 
 }
 
 .main-menu-item .sidebar-image:hover {
    /* @apply bg-[#FBF2FB] mx-1 transition  */
 }

 .sidebar-item:hover .sidebar-image {
   background-color: #FBF2FB;
   border-radius: 8px;
 }

 
 .main-menu-item .layer-hover .sidebar-submenu {
    display: none;
    position: absolute;
    top: 63px;
    left: 68px;
    height: 100vh;
    z-index: 1;
 }
 /* z-index position ar kehtre kaj kore.. eta diyar mane holo etar priority age..
 ar tolai ja thakuk na keno z-index dile eta show hobe oigulo hove na */
 
  .active{
   background-color: #fbf2fb;
   border-radius: 8px;
}

.sidebar-item .active{
   padding-bottom: 0px;
}
.subMenu-size{
   /* @apply hover:bg-[#fbf0fb] w-[200px] h-[38px] mt-1 ml-3 flex justify-start gap-2 px-[25px] py-[10px] */
   width: 200px;
   margin: 4px 15px;
   display: flex;
   justify-content: flex-start;
   flex-wrap: nowrap;
   gap: 8px;
   /* padding-left: 25px;
   padding-right: 25px;
   padding-top: 10px;
   padding-bottom: 10px; */
   padding: 8px ;
}
.subMenu-size:hover{
   background-color: #fbf0fb;
   border-radius: 8px;

}
.active .subItem-title{
   margin-left: 20px ;
}
.subMenu-size:hover .subItem-title{
   margin-left: 20px;
}
.submenu-title{
   background: #fbf2fb;
   border-radius: 12px;
   margin: 5px 5px 10px;
   padding: 5px 15px;
   font-weight: 700;
   font-size: 20px;
   color: rgb(122, 112, 112);
   display: flex;
   align-items: center;
   inline-size: 220px;
   overflow: hidden;
   white-space: nowrap;
}
.submenu-title img {
   margin-right: 20px;
   height: 40px;
   width: 40px;

}


 .main-menu-item:hover .layer-hover .sidebar-submenu{
    display: block;
    margin-top: 1px;
    box-shadow: 0 1px 12px 2px rgba(0, 0, 0, 0.19), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
 }
 .sidebar-title{
    color: #5a577a;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
 }

 
/* menu item image hover and image active icon change */
 .img-wrapeer{
   width: 24px;
   height: 24px;
   position: relative;
 }

 .img-wrapeer :nth-child(2) {
   opacity: 0;
 }
 
 .sidebar-item:hover .img-wrapeer :nth-child(1), .active .img-wrapeer :nth-child(1) {
   opacity: 0;
   position: absolute;
 }
 .sidebar-item:hover .img-wrapeer :nth-child(2), .active .img-wrapeer :nth-child(2) {
   opacity: 1;
   position: absolute;
   transition-duration: 300ms;
 }

 /*.... sub menu image hover and image active icon change ........................*/

 
 .sub-img-wrapeer :nth-child(2){
   opacity: 0;
   position: absolute;
 }
 .active .sub-img-wrapeer  :nth-child(1) {
   opacity: 0;
   position: absolute;
 }
 .active .sub-img-wrapeer :nth-child(2){
   opacity: 1;
   position: absolute;
 }

 /* layer fixed a sub menu te hover korle icon change hobe */
 .drawer-open .layer-fixed .sidebar-submenu .subMenu-size:hover .sub-img-wrapeer :nth-child(1) {
   opacity: 0;
   position: absolute;
   width: 200px;
 }
 .drawer-open .layer-fixed .sidebar-submenu .subMenu-size:hover .sub-img-wrapeer :nth-child(2) {
   opacity: 1;
   position: absolute;
   
 }
 .drawer-close  .active .sub-img-wrapeer :nth-child(2) {
   opacity: 0;
 }
 
 /* ------- */

/*  hover a sub menu te hover korle icon change hobe */
 .layer-hover .sidebar-submenu .subMenu-size:hover .sub-img-wrapeer :nth-child(1){
   opacity: 0;
   position: absolute;
   width: 200px;
 }
 .layer-hover .sidebar-submenu .subMenu-size:hover .sub-img-wrapeer :nth-child(2){
   opacity: 1;
   position: absolute;
   transition-duration: 300ms;

 }
/* ------- */
 
